<%- include('../partials/header') %>

<section id="show-page">
  <div><h2>Flight Details</h2></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
 

  <!-- start Destinations list -->

  <br><br><h2>Destinations</h2>
  <form id="add-destination" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    
    <select name="airport" id="destination">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="SEA">SEA</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SFO">SFO</option>
        <option value="SAN">SAN</option>
        <option value="IAD">IAD</option>
        <option value="DBX">DBX</option>
        <option value="AMS">AMS</option>
        <option value="HEL">HEL</option>
        <option value="IST">IST</option>
    </select><br>

    
    <label for="departs">Arrival Date:</label>
    <input name="arrival" type="datetime-local" required="true"><br>
    <input id="destination-button"   type="submit" value="add destination" required ="true"><br>

  </form>

<% flight.destinations.forEach(function(d) {%>
    
    <p><%= d.airport %></p>
    <p><%= d.arrival %></p>

    <% }) %>


</section>

<%- include('../partials/footer') %>
